.wrapper {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 5px 15px;
  border-bottom: 1px solid gray;

  position: sticky;
  top: 0;
  z-index: 1;
  background-color: white;

  .textInput {
    flex: 1;
    margin: 0 25px;
  }
}